/* Este repositório base foi criado para te ajudar caso você não saiba como começar. Lembre-se de que o portfólio é a sua carta de apresentação e você deve dar a sua cara. Por isso, convidamos você a personalizá-lo de acordo com o seu estilo e preferências; não se limite apenas ao layout proposto no Figma. */
:root {
    --cor-de-fundo: #F5F5F5;
    --cor-de-fundo-menu: #ffffff;
    --cor-do-link: #000000;
    --cor-da-section: #EAF2FD;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-do-link);
}

/* ------------------------------ Seção Menu -------------------------------*/
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 0 10% 0 10%;
    background-color: var(--cor-de-fundo-menu);
    /* position: fixed;
    width: 100%;
    /* height: 70px;
    top: 0;
    left: 0;
    z-index: 1; Garante que o header fique acima do main, caso haja sobreposição. */ 
}
.cabecalho__logo-titulo {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.cabecalho__logo {
    max-width: 100px; /* Ajuste para telas pequenas */
}
.navegacao__lista {
    display: flex;
    font-size: 1rem;
    align-items: center;
    gap: 2rem;
}
/* -------------------------------- Botão Scroll --------------------------------*/

.btn-voltar-topo {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background: none ;
    color: #000000;
    border: none;
    padding: 0px;
    cursor: pointer;
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.3s ease-in-out; /* Transição suave para aparecer */
    cursor: pointer;
}
.btn-voltar-topo img {
    width: 40px;
    height: auto;
}
.btn-voltar-topo p {
    margin:0;
}
  
.btn-voltar-topo.show {
    opacity: 1; /* Torna o botão visível */
}


/* ------------------------------ Seção Apresentação ------------------------------*/

.apresentacao {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    gap: 6rem;
}
.apresentacao__titulo {
    font-size: 52px;
    line-height: 60px;
}
.apresentacao__subtitulo {
    font-size: 22px;
    padding-top: 0;
}
.redes {
    display: flex;
    gap: 32px;
    padding-left: 0;
    padding-bottom: 55.2px;
}
.redes__elemento img{
    width: 12px;
}

/* ------------------------------ Seção Sobre mim ----------------------------------*/

.sobre-mim {
    background-color: var(--cor-da-section);
}
.sobre-mim__bloco {
    padding: 64px 10%;
}
.sobre-mim__titulo {
    font-size: 32px;
}
.sobre-mim__texto {
    margin-right: 34%;
}

/*------------------------------ Seção de Habilidades ------------------------------*/

.habilidades,
.hobbies {
    padding-left: 10%;
    padding-right: 10%;
}
.habilidades__titulo,
.hobbies__titulo {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 32px;
}
.habilidades__lista,
.hobbies__lista {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding-bottom: 88px;
    padding-left: 0;
}
.habilidades__elemento,
.hobbies__elemento {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    width: 176px;
    height: 174px;
    gap: 8px;
    padding-left: 16px;
    flex-grow: 1;
    flex-shrink: 1;
}
.habilidades__nome,
.hobbies__nome {
    margin-top: 0;
    margin-bottom: 16px;
}

/*------------------------------ Seção de Hobbies --------------------------------*/

/* FORMAÇÃO ACADÊMICA */

.formacao,
.contato {
    background-color: var(--cor-da-section);
    padding-left: 10%;
    padding-right: 10%;
}

.formacao__titulo {
    text-align: center;
    padding-top: 50px;
    font-size: 32px;
}

.formacao__lista {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding-bottom: 82px;
    padding-left: 0;
}
.formacao__elemento {
    flex-grow: 1;
    flex-shrink: 1;
}
.formacao__elemento__marca {
    background-color: #ffffff;
    width: auto;
    height: 286px;
    /* background-image: url(assets/Isologo_FADU_2021.svg);
    background-repeat: no-repeat; */
    background-position: center;
    background-size: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formacao__icone {
    width: 200px;
}
.formacao__nome {
    font-size: 22px;
    margin-bottom: 0;
}
.formacao__detalhe {
    margin-top: 8px;
}

/*------------------------------ Seção de Projetos --------------------------------*/

.projetos__titulo{
    text-align: center;
    margin-top: 32px;
    margin-bottom: 22px;
    font-size: 32px;
}
.projetos__bloco {
    display: flex;
    flex-direction: column;
    gap: 10px;    
    padding-left: 10%;
    padding-right: 10%;
}
.projetos__conteiner {
    display: flex;
    padding-bottom: 64px;
    gap: 16px;
}
.projetos__conteiner__invertido {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 64px;
    gap: 16px;
}
.projetos__conteiner__img {
    width: 65%;
    flex-grow: 1;
    flex-shrink: 1;
}
.projetos__conteiner__titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    width: auto;  
    flex-grow: 1;
    flex-shrink: 1;
}
.projetos__conteiner__titulo h3 {
    margin-bottom: 0;
    font-size: 22px;
}
.projetos__conteiner__titulo p {
    margin-top: 5px;
    margin-bottom: 8px;
}
.projetos__conteiner__botoes {
    display: flex;
    gap: 16px;
    padding-bottom: 32px;
}
.projetos__conteiner__botao__repositorio {
    padding: 16px;
    font-size: 16px;
    color: #2A7AE4;
    border: solid;
    border-width: 2px;
    border-color: #2A7AE4;
    align-self: center;
}
.projetos__conteiner__botao__demo {
    background:#2A7AE4;
    padding: 16px;
    font-size: 16px;
    color: #ffffff;
    border-color: #2A7AE4;    
    align-self: center;
}

/*------------------------------ Seção de Contato ---------------------------------*/

.contato__titulo{
    font-size: 32px;
    padding-top: 66px;
}
.contato {
    background-color: var(--cor-da-section);
    margin-bottom: 60px;
}
.contato__formulario {
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
    gap: 32px;
}
.contato__formulario__caixa {
    width: 60%;
    height: 56px;    
    padding-left: 12px;    
    background-color: #FFFFFF;
}
.contato__formulario__caixa__nome {   
    color: #A2A2A2;
}
.contato__formulario__caixa__email {
    color: #2A7AE4;
}
.contato__formulario__caixa p {
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 8px;
    font-size: 12px;
}
.contato__campo {
    width: 60%;
    position: relative;
    padding-left: 12px;
    padding-bottom: 7px;
    border: none;
    font-size: 16px;
}
.contato__campo__assunto {
    width: 60%;
    height: 56px;
    padding-left: 12px;
    font-size: 16px;
    border: none;
}
.contato__campo--textarea {
    height: 133px;
    width: 60%;
    padding-top: 16px;
    padding-left: 12px;
    font-size: 16px;
    border: none;
    resize: none;
}
.contato__botao__enviar {
    background:#2A7AE4;
    color: #ffffff;
    width: 165px;
    height: 51px;
    border-radius: 10px;
    font-size: 16px;
    border-color: #2A7AE4;    
    text-align: center;
    margin-right: 20px;
    cursor: pointer;
}
.contato__botao__limpar {
    background: #e6e2e2;
    color: #000000;
    width: 165px;
    height: 51px;    
    border-radius: 10px;
    border: none;
    font-size: 16px;
    border-color: #2A7AE4;    
    text-align: center; 
    cursor: pointer;
}

/*------------------------------------- Footer -----------------------------------*/

footer {
    background-color: #1d85b990; /* Cor de fundo do rodapé opacidade 50%*/
    color: #0b0c0e; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    font-weight: 500;
    padding: 0; /* Espaçamento interno */
    width: 100%; /* Largura total da página */
    height: 60px;
    position: fixed; /* Posiciona o rodapé */
    bottom: 0; /* Alinha ao fundo da página */
    font-size: 1rem; /* Tamanho da fonte */
}


/* ------------------------------ Responsividade ---------------------------------------*/

/* Tablets */
@media (max-width: 768px) {
    /* .navegacao__lista {
        display: none;
    }  */
    .navegacao__elemento:nth-child(1),
    .navegacao__elemento:nth-child(2),
    .navegacao__elemento:nth-child(3),
    .navegacao__elemento:nth-child(4),
    .navegacao__elemento:nth-child(5) {
        display: none;
    }
    .cabecalho {
        padding: 0 32px 0 32px;    
    }
    .cabecalho__titulo{
        font-size: 24px;
    }
    .redes {
        padding-bottom: 20px;
    }
    .apresentacao {
        padding: 0 32px 0 32px;
        gap: 0rem;
    } 

    .apresentacao__conteiner {
        height: auto;
    }
    .apresentacao__foto {
        width: 146px;
    }
    .apresentacao__titulo {
        font-size: 22px;  
        line-height: 30px; 
        margin-top: 40px;
    } 
    .sobre-mim__bloco {
        padding: 32px;
    }
    .sobre-mim__texto {
        margin-right: 0px;
    }
    .habilidades,
    .hobbies,
    .formacao,
    .contato__formulario,
    .contato__titulo,
    .projetos__bloco {
        padding-left: 32px;
        padding-right: 32px;
    }
    .sobre-mim__titulo,
    .habilidades__titulo,
    .hobbies__titulo,
    .formacao__titulo,
    .projetos__titulo {
        font-size: 22px;
        padding-top: 32px;
        margin-top: 0;
    }
    .habilidades__lista,
    .hobbies__lista {
        padding-bottom: 32px;
        padding-left: 0;
        flex-wrap: wrap;
    }
    .formacao__elemento__marca {
        width: auto;
        height: 118px;
        /* background-size: 190px; */
    }
    .formacao__icone{
        width: 84px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .projetos__conteiner {
        flex-direction: column;        
        padding-bottom: 16px;
    }
    .projetos__conteiner__invertido {
        flex-direction: column;
        padding-bottom: 16px;
    }
    .projetos__conteiner__titulo h3 {
        font-size: 16px;
    }
    .projetos__conteiner__titulo p {
        font-size: 14px;
    }
    .projetos__conteiner__botao__repositorio {
        padding:  12px 16px 12px 16px;
        font-size: 14px;
    }
    .projetos__conteiner__botao__demo {
        padding: 12px 16px 12px 16px;
        font-size: 14px;
        color: #ffffff;
        border-color: #2A7AE4;
    }
    .contato {
        padding: 32px;
        margin-bottom: 60px;
    }
    .contato__titulo{
        font-size: 22px;
        padding: 0px;
    }
    .contato__formulario {
        padding: 0px;
        gap: 32px;
    }
}

/* Celular */
@media (max-width: 480px) {
    .cabecalho {
        padding: 16px;  
    }
    .cabecalho__logo {
        max-width: 70px;
    }
    .cabecalho__titulo {
        font-size: 16px;
    }
    .navegacao__lista {
        font-size: 14px;
    }
    .apresentacao {
        flex-direction: column;
        align-items: flex-start;
        padding:16px
    }
    .apresentacao__foto {
        width: 98px;
    }
    .apresentacao__subtitulo {
        font-size: 14px;
    }
    .redes {
        font-size: 14px;
        padding-bottom: 0px;
    }
    .redes__elemento img{
        width: 10px;
    }
    .sobre-mim__titulo,
    .habilidades__titulo,
    .hobbies__titulo,
    .formacao__titulo,
    .projetos__titulo {
        font-size: 22px;
        padding-top: 16px;
        padding-top: 0;
    }
    .sobre-mim__bloco {
        padding: 16px;
    }
    .habilidades,
    .hobbies,
    .formacao,
    .projetos {
        padding: 16px;
    }
    .habilidades__lista,
    .hobbies__lista {
    display: flex;
    padding-bottom: 0px;
}
    .habilidades__elemento,
    .hobbies__elemento {
        width: 176px;
        height: 174px;
    }
    .formacao__lista {
        flex-wrap: wrap;
        padding-bottom: 22px;
        margin-bottom: 0;
    }
    .formacao__detalhe {
        margin-bottom: 0px;
    }
    .projetos__bloco {    
        padding:0px;
    }
    .projetos__conteiner__img {
        width: 100%;
    }
    .contato {
        padding: 16px;
    }
    .contato__titulo{
        font-size: 22px;    
    }
    .contato p {
        font-size: 16px;
        line-height: 20px;
    } 
    .contato__formulario {
        display: flex;
        flex-direction: column;
        padding: 16px 0;
        gap: 32px;
    }   
    .contato__formulario__caixa,
    .contato__campo__assunto,
    .contato__campo--textarea {
        width: 100%;
    }
    .contato__formulario__caixa__nome label,
    .contato__formulario__caixa__email label {   
        font-size: 12px;
    }
    .contato__campo {
        padding-bottom: 0px;
    }
    .contato__botao__enviar,
    .contato__botao__limpar {
        width: 120px;
        height: 48px;
        font-size: 14px;
    }
}